<head>
    <meta charset="UTF-8" />
    <title>페이지 제목</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<h2>고객센터 게시판</h2>
<a href="/board/new">[글쓰기]</a>
<ul>
    <% posts.forEach(post => { %>
        <li style="margin-left:<%= post.parent_id ? '30px' : '0' %>">
            <a href="/board/view/<%= post.id %>">
                <%= post ? '글 수정' : (post.parent_id ? '[답글]' : '') %> <%= post.title %> - <%= post.author %>
            </a>
            (<a href="/board/edit/<%= post.id %>">수정</a> / <a href="/board/delete/<%= post.id %>">삭제</a>)
        </li>
    <% }) %>
</ul>